<!DOCTYPE html>
<html lang="en">
<%require 'time'%>
  
<head>
<link href="https://fonts.googleapis.com/css?family=Exo:200" rel="stylesheet" type="text/css">
</head>

  <title>Welcome to Chitter</title>


<header>
  <h1 class="main-heading">Welcome to Chitter</h1>
</header>
<br>


<ul>
  <% @peeps.each do |peep| %>
    <p><br><%= peep.content %><br>
    <%= Time.parse(peep.time).strftime("%H:%M, %d %B")%>
    </br></p>
  <% end %>
</ul>


</html>