<!DOCTYPE html>
<html lang="en">

<head>
<link href="https://fonts.googleapis.com/css?family=Exo:200" rel="stylesheet" type="text/css">
  <div>
    <h2> Welcome to Chitter, lets update our friends!</h2>
  </div>
</head>
  
  <br>


  <form action="/peeps" method="post">
    <input type="text" name="content" placeholder='Text' />
    <input class='button' type="submit" value="Submit" />
  </form>


</html>